@{
    ViewData["Title"] = "Josh's Bizarre Bazaar - Home";
}

<div class="text-center">
    <h1 class="display-4">Josh's Bizarre Bazaar</h1>
    <br />
    <h3>Welcome!</h3>
    <br />
    <p>Please <a asp-area="Identity" asp-page="/Account/Login">login</a> or <a asp-area="Identity" asp-page="/Account/Register">register</a> a new account.</p>
</div>
